*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
}

.links{
    display: flex;
    gap: 15px;
    
}

.links a{
    color: black;
    text-decoration: none;
    transition: 0.5s ease;
}


.links a:hover{
    color: white;
}

.hero-section{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5)),url(assets/hero-img.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slider 5s linear infinite;

}

@keyframes slider {
    0%{
     
         background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5)),url(assets/hero-img.jpg);
    }   

    25%{
         background-image: url(assets/Apple-iPhone-17-Pro-cosmic-orange-250909_inline.jpg.large.jpg);
    }

    50%{
         background-image: url(assets/product1.jpg);
    }

    75%{
         background-image: url(assets/logo.png);
    }
    100%{
         background-image:url(assets/hero-img.jpg);
    }
}

.hero-section h1{
    color: red;
}



h1{
    text-align: center;
    padding: 10px 0px;
}

.card{
    width: 300px;
    height: max-content;
    border: 1px solid black;
    border-radius: 16px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    transition: 0.2s ease;
}

.card:hover{
   transform: translateY(-25px);
}

.parentOfCards{
    padding: 25px;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.card img{
 width: 100%;
 height: 250px;
 border-radius: 16px;

 transition: 0.2s ease;
}

.card img:hover{
    
}

.card img:hover{


}

.btngroup{
    display: flex;
    justify-content: space-between;
}
.btngroup button{
    padding: 6px 12px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50px;
}

.footer{
    width: 100%;
    height: 400px;
    background-color: gray;
    display: flex;
    padding: 30px;
}

.footer div{
    width: 25%;
    height: 100%;
    color: white;
    padding: 30px;
}

.footer div ul{
    list-style-type: none;
}

.backtoTop{

  
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    
}

.backtoTop a{
    font-size: 40px;
}

.sale{
    width: 50px;
    height: 50px;
    background-color: purple;
    position: absolute;

    top: 50px;
    right: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
align-items: center;
justify-content: center;

}

.sale span{
    font-size: 10px;
}

.menu{
    display: none;
}

@media screen and (max-width:768px){
    .links{
        display: none;
    }

    .menu{
        display: block;
        transform: rotate(90deg);
        font-weight: bold;
        font-size: 50px;
    }

    .footer{
        align-items: center;
        flex-direction: column;
    }

    .footer{
        height: max-content
    }

    .hero-section{
        background-size: contain;
        background-repeat: no-repeat;
    }
}